<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dang ky</title>
  </head>
  <body>
    <form action="/xulydangnhap" method="post">
      <input type="text" name="username" placeholder="username">
      <br><br>
      <input type="password" name="password" placeholder="password">
      <br><br>
      <input type="submit" value="Dang nhap">
    </form>
  </body>
</html>
